.lyrics {
  font-family: Lato, Arial, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-attachment: fixed;
  padding-bottom: 7%;
  width: "100%";
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: inherit;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding: 2% 0;
  text-align: center;
  overflow: scroll;
  width: 100%;
}

h1 {
  margin-top: 0;
  color: white;
}

.background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(30px) opacity(0.5);
  -webkit-filter: blur(30px) opacity(0.5);
  position: fixed;
  right: 0;
  height: 100%;
  transform: scale(1);
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  position: absolute;
  left: 0;
  z-index: -100;
}

body,
#root {
  background: none;
}

.wrapper {
  position: relative;
  height: 100%;
}

.background {
  height: 100%;
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.analysis {
  display:none
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
  .lyrics {
    font-size: 1rem;
    padding-bottom: 15%;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .analysis {
    display: none;
  }
}
