.callback {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  width: 8px;
  border-radius: 8px;
  margin: 0 1px;
  background-color: #1e8449;
  opacity: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 20%;
  animation: beat 1.2s ease-in-out infinite;
}

.loadingSection {
  height: 20%;
  display: flex;
  align-items: center;
}

@keyframes beat {
  50% {
    height: 100%;
  }
}

.message {
  margin-top: 100px;
  font-family: Lato, Arial, sans-serif;
font-size: 3vw;
font-weight: 300;
  color: #ffffff;
}

@media (max-width: 900px) {
  .message {
      font-size: 2rem;
  }
}
